In [48]:
#Execute only for the first time
!pip install ydata_profiling

Requirement already satisfied: ydata_profiling in /usr/local/lib/python3.12/dist-packages (4.16.1)
Requirement already satisfied: scipy<1.16,>=1.4.1 in /usr/local/lib/python3.12/dist-packages (from ydata_profiling) (1.15.3)
Requirement already satisfied: pandas!=1.4.0,<3.0,>1.1 in /usr/local/lib/python3.12/dist-packages (from ydata_profiling) (2.2.2)
Requirement already satisfied: matplotlib<=3.10,>=3.5 in /usr/local/lib/python3.12/dist-packages (from ydata_profiling) (3.10.0)
Requirement already satisfied: pydantic>=2 in /usr/local/lib/python3.12/dist-packages (from ydata_profiling) (2.11.7)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in /usr/local/lib/python3.12/dist-packages (from ydata_profiling) (6.0.2)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in /usr/local/lib/python3.12/dist-packages (from ydata_profiling) (3.1.6)
Requirement already satisfied: visions<0.8.2,>=0.7.5 in /usr/local/lib/python3.12/dist-packages (from visions[type_image_path]<0.8.2,>=0.7.5->ydata_profiling) (0.8.1)
Requirement already satisfied: numpy<2.2,>=1.16.0 in /usr/local/lib/python3.12/dist-packages (from ydata_profiling) (2.0.2)
Requirement already satisfied: htmlmin==0.1.12 in /usr/local/lib/python3.12/dist-packages (from ydata_profiling) (0.1.12)
Requirement already satisfied: phik<0.13,>=0.11.1 in /usr/local/lib/python3.12/dist-packages (from ydata_profiling) (0.12.5)
Requirement already satisfied: requests<3,>=2.24.0 in /usr/local/lib/python3.12/dist-packages (from ydata_profiling) (2.32.4)
Requirement already satisfied: tqdm<5,>=4.48.2 in /usr/local/lib/python3.12/dist-packages (from ydata_profiling) (4.67.1)
Requirement already satisfied: seaborn<0.14,>=0.10.1 in /usr/local/lib/python3.12/dist-packages (from ydata_profiling) (0.13.2)
Requirement already satisfied: multimethod<2,>=1.4 in /usr/local/lib/python3.12/dist-packages (from ydata_profiling) (1.12)
Requirement already satisfied: statsmodels<1,>=0.13.2 in /usr/local/lib/python3.12/dist-packages (from ydata_profiling) (0.14.5)
Requirement already satisfied: typeguard<5,>=3 in /usr/local/lib/python3.12/dist-packages (from ydata_profiling) (4.4.4)
Requirement already satisfied: imagehash==4.3.1 in /usr/local/lib/python3.12/dist-packages (from ydata_profiling) (4.3.1)
Requirement already satisfied: wordcloud>=1.9.3 in /usr/local/lib/python3.12/dist-packages (from ydata_profiling) (1.9.4)
Requirement already satisfied: dacite>=1.8 in /usr/local/lib/python3.12/dist-packages (from ydata_profiling) (1.9.2)
Requirement already satisfied: numba<=0.61,>=0.56.0 in /usr/local/lib/python3.12/dist-packages (from ydata_profiling) (0.60.0)
Requirement already satisfied: PyWavelets in /usr/local/lib/python3.12/dist-packages (from imagehash==4.3.1->ydata_profiling) (1.9.0)
Requirement already satisfied: pillow in /usr/local/lib/python3.12/dist-packages (from imagehash==4.3.1->ydata_profiling) (11.3.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.12/dist-packages (from jinja2<3.2,>=2.11.1->ydata_profiling) (3.0.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib<=3.10,>=3.5->ydata_profiling) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib<=3.10,>=3.5->ydata_profiling) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib<=3.10,>=3.5->ydata_profiling) (4.59.2)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib<=3.10,>=3.5->ydata_profiling) (1.4.9)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib<=3.10,>=3.5->ydata_profiling) (25.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib<=3.10,>=3.5->ydata_profiling) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.12/dist-packages (from matplotlib<=3.10,>=3.5->ydata_profiling) (2.9.0.post0)
Requirement already satisfied: llvmlite<0.44,>=0.43.0dev0 in /usr/local/lib/python3.12/dist-packages (from numba<=0.61,>=0.56.0->ydata_profiling) (0.43.0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas!=1.4.0,<3.0,>1.1->ydata_profiling) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas!=1.4.0,<3.0,>1.1->ydata_profiling) (2025.2)
Requirement already satisfied: joblib>=0.14.1 in /usr/local/lib/python3.12/dist-packages (from phik<0.13,>=0.11.1->ydata_profiling) (1.5.2)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.12/dist-packages (from pydantic>=2->ydata_profiling) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.2 in /usr/local/lib/python3.12/dist-packages (from pydantic>=2->ydata_profiling) (2.33.2)
Requirement already satisfied: typing-extensions>=4.12.2 in /usr/local/lib/python3.12/dist-packages (from pydantic>=2->ydata_profiling) (4.15.0)
Requirement already satisfied: typing-inspection>=0.4.0 in /usr/local/lib/python3.12/dist-packages (from pydantic>=2->ydata_profiling) (0.4.1)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.24.0->ydata_profiling) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.24.0->ydata_profiling) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.24.0->ydata_profiling) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.24.0->ydata_profiling) (2025.8.3)
Requirement already satisfied: patsy>=0.5.6 in /usr/local/lib/python3.12/dist-packages (from statsmodels<1,>=0.13.2->ydata_profiling) (1.0.1)
Requirement already satisfied: attrs>=19.3.0 in /usr/local/lib/python3.12/dist-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata_profiling) (25.3.0)
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.12/dist-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata_profiling) (3.5)
Requirement already satisfied: puremagic in /usr/local/lib/python3.12/dist-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata_profiling) (1.30)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.7->matplotlib<=3.10,>=3.5->ydata_profiling) (1.17.0)

In [49]:
#Execute only for the first time
from ydata_profiling import ProfileReport, compare

In [39]:
!wget https://raw.githubusercontent.com/IshanSingh611/Exploratory-Data-Analytics-of-Sachin-Tendulkar-ODI-with-Plotly/refs/heads/master/tendulkar_ODI.csv

--2025-09-07 15:08:43--  https://raw.githubusercontent.com/IshanSingh611/Exploratory-Data-Analytics-of-Sachin-Tendulkar-ODI-with-Plotly/refs/heads/master/tendulkar_ODI.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19327 (19K) [text/plain]
Saving to: ‘tendulkar_ODI.csv.1’

tendulkar_ODI.csv.1 100%[===================>]  18.87K  --.-KB/s    in 0.001s

2025-09-07 15:08:43 (26.0 MB/s) - ‘tendulkar_ODI.csv.1’ saved [19327/19327]

In [50]:
import pandas as pd
import numpy as np
CricketDF = pd.read_csv("/content/tendulkar_ODI.csv")

In [41]:
#Execute only for the first time
report = ProfileReport(df=CricketDF, title="Sachin ODI Statistics Profling Report")

NameError: name 'ProfileReport' is not defined

In [ ]:
#Execute only for the first time
report.to_notebook_iframe()

In [51]:
CricketDF['Runs'] =CricketDF['Runs'].str.replace('*','',regex=False)
CricketDF['Runs'] =CricketDF['Runs'].replace('DNB',np.nan,regex=False)
CricketDF['Runs'] =CricketDF['Runs'].replace('TDNB',np.nan,regex=False)

In [52]:
CricketDF['Runs'].head(10)

0      0
1      0
2     36
3     19
4     31
5     36
6     53
7     30
8    NaN
9      4
Name: Runs, dtype: object

In [53]:
CricketDF['Runs']=CricketDF['Runs'].astype(float)
print(CricketDF.dtypes)

Unnamed: 0      int64
Runs          float64
Mins           object
BF             object
4s             object
6s             object
SR             object
Pos            object
Dismissal      object
Inns           object
Opposition     object
Ground         object
Start Date     object
dtype: object

In [54]:
CricketDF.drop(columns=['Mins','Ground'],inplace=True)

In [55]:
print(CricketDF.dtypes)

Unnamed: 0      int64
Runs          float64
BF             object
4s             object
6s             object
SR             object
Pos            object
Dismissal      object
Inns           object
Opposition     object
Start Date     object
dtype: object

In [56]:
CricketDF=CricketDF.rename(columns={'Unnamed: 0': 'MatchID','BF':'BallsFaced','4s':'Boundaries'})
#Write Code to rename 6s
CricketDF=CricketDF.rename(columns={'6s': 'Sixers'})
#Write Code to rename Start Date to StartDate
CricketDF=CricketDF.rename(columns={'Start Date': 'StartDate'})

In [57]:
print(CricketDF)

     MatchID   Runs BallsFaced Boundaries Sixers      SR Pos Dismissal Inns  \
0          1    0.0          2          0      0       0   5    caught    2
1          2    0.0          2          0      0       0   5    caught    2
2          3   36.0         39          5      0    92.3   6    caught    1
3          4   19.0         35          1      1   54.28   4    bowled    2
4          5   31.0         26          3      0  119.23   6    bowled    2
..       ...    ...        ...        ...    ...     ...  ..       ...  ...
290      291   18.0         14          2      0  128.57   2    caught    2
291      292    2.0          6          0      0   33.33   2    caught    2
292      293    3.0         12          0      0      25   2    caught    2
293      294   14.0         15          2      0   93.33   2   run out    2
294      295  114.0        147         12      1   77.55   2    caught    1

        Opposition  StartDate
0       v Pakistan  18-Dec-89
1    v New Zealand   1-Mar-90
2    v New Zealand   6-Mar-90
3        v England  18-Jul-90
4        v England  20-Jul-90
..             ...        ...
290    v Sri Lanka   2-Apr-11
291    v Australia   5-Feb-12
292    v Australia  19-Feb-12
293    v Australia  26-Feb-12
294   v Bangladesh  16-Mar-12

[295 rows x 11 columns]

In [58]:
CricketDF['Dismissal'] =CricketDF['Dismissal'].astype('category')
CricketDF['Inns'] =pd.Categorical(CricketDF['Inns'], categories=['1', '2', ''], ordered=True)
CricketDF['Pos'] =pd.Categorical(CricketDF['Pos'], categories=['1', '2', '3','4','5','6','7','8','9','10','11'], ordered=True)

In [59]:
CricketDF.dtypes

MatchID          int64
Runs           float64
BallsFaced      object
Boundaries      object
Sixers          object
SR              object
Pos           category
Dismissal     category
Inns          category
Opposition      object
StartDate       object
dtype: object

In [60]:
# Do profiling before changing data type or doing data cleaning
!pip install duckdb

Requirement already satisfied: duckdb in /usr/local/lib/python3.12/dist-packages (1.3.2)

In [61]:
import duckdb as db

In [62]:
strSQL ='Select Distinct Runs from CricketDF'
genSQLResult=db.execute(strSQL).fetch_df()
genSQLResult.head(106)

      Runs
0      0.0
1     30.0
2      NaN
3      4.0
4     62.0
..     ...
101   50.0
102   20.0
103  138.0
104  111.0
105   85.0

[106 rows x 1 columns]

In [63]:
strSQL ='SELECT distinct Runs FROM CricketDF WHERE TRY_CAST(Runs AS DOUBLE) IS NULL     AND Runs IS NOT NULL'
genSQLResult=db.execute(strSQL).fetch_df()
genSQLResult.head(106)

Empty DataFrame
Columns: [Runs]
Index: []

In [64]:
strSQL ='SELECT distinct BallsFaced FROM CricketDF WHERE TRY_CAST(BallsFaced AS DOUBLE) IS NULL     AND BallsFaced IS NOT NULL'
genSQLResult=db.execute(strSQL).fetch_df()
genSQLResult.head(106)

  BallsFaced
0          -

In [65]:
strSQL ='SELECT distinct Boundaries FROM CricketDF WHERE TRY_CAST(Boundaries AS DOUBLE) IS NULL     AND Boundaries IS NOT NULL'
genSQLResult=db.execute(strSQL).fetch_df()
genSQLResult.head(106)

  Boundaries
0          -

In [66]:
strSQL ='SELECT distinct Sixers FROM CricketDF WHERE TRY_CAST(Sixers AS Double) IS NULL     AND Sixers IS NOT NULL'
genSQLResult=db.execute(strSQL).fetch_df()
genSQLResult.head(106)

  Sixers
0      -

In [69]:
strSQL ='SELECT distinct TRY_CAST(StartDate AS Date) FROM CricketDF WHERE StartDate IS NOT NULL'

genSQLResult=db.execute(strSQL).fetch_df()
genSQLResult.head(106)

    TRY_CAST(StartDate AS DATE)
0                    1989-12-18
1                    1990-03-06
2                    1990-07-18
3                    1990-12-08
4                    1990-12-25
..                          ...
101                  2006-02-13
102                  2006-02-16
103                  2006-10-15
104                  2006-10-26
105                  2006-11-26

[106 rows x 1 columns]

In [68]:
CricketDF['StartDate'] = pd.to_datetime(CricketDF['StartDate'], format='%d-%b-%y')

# Format the datetime objects to YYYY-mm-dd strings
CricketDF['StartDate'] = CricketDF['StartDate'].dt.strftime('%Y-%m-%d')

In [77]:
CricketDF = CricketDF.replace('-', np.nan)
CricketDF['Opposition'] =CricketDF['Opposition'].str.replace('v ','',regex=False)

In [78]:
CricketDF.head(10)

,MatchID,Runs,BallsFaced,Boundaries,Sixers,SR,Pos,Dismissal,Inns,Opposition,StartDate
0,1,0.0,2,0,0,0,5,caught,2,Pakistan,1989-12-18
1,2,0.0,2,0,0,0,5,caught,2,New Zealand,1990-03-01
2,3,36.0,39,5,0,92.3,6,caught,1,New Zealand,1990-03-06
3,4,19.0,35,1,1,54.28,4,bowled,2,England,1990-07-18
4,5,31.0,26,3,0,119.23,6,bowled,2,England,1990-07-20
5,6,36.0,22,3,2,163.63,5,bowled,1,Sri Lanka,1990-12-01
6,7,53.0,41,7,1,129.26,5,bowled,2,Sri Lanka,1990-12-05
7,8,30.0,29,1,2,103.44,5,caught,1,Sri Lanka,1990-12-08
8,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,Bangladesh,1990-12-25
9,10,4.0,11,0,0,36.36,5,lbw,2,Sri Lanka,1990-12-28

In [79]:
CricketDF.dtypes

MatchID          int64
Runs           float64
BallsFaced      object
Boundaries      object
Sixers          object
SR              object
Pos           category
Dismissal     category
Inns          category
Opposition      object
StartDate       object
dtype: object

In [85]:
CricketDF['Runs']=CricketDF['Runs'].fillna(0)
CricketDF['Runs']=CricketDF['Runs'].astype(int)

In [86]:
CricketDF['BallsFaced']=CricketDF['BallsFaced'].fillna(0)
CricketDF['BallsFaced']=CricketDF['BallsFaced'].astype(int)

In [87]:
CricketDF['Boundaries']=CricketDF['Boundaries'].fillna(0)
CricketDF['Boundaries']=CricketDF['Boundaries'].astype(int)

In [88]:
CricketDF['Sixers']=CricketDF['Sixers'].fillna(0)
CricketDF['Sixers']=CricketDF['Sixers'].astype(int)

In [ ]:
CricketDF['Sixers']=CricketDF['Sixers'].fillna(0)
CricketDF['Sixers']=CricketDF['Sixers'].astype(int)

In [89]:


CricketDF['SR']=CricketDF['SR'].fillna(0)
CricketDF['SR']=CricketDF['SR'].astype(float)

In [97]:
CricketDF['Opposition']=CricketDF['Opposition'].astype('string')
CricketDF['StartDate']=CricketDF['StartDate'].astype('datetime64[ns]')

In [98]:
CricketDF.dtypes

MatchID                int64
Runs                   int64
BallsFaced             int64
Boundaries             int64
Sixers                 int64
SR                   float64
Pos                 category
Dismissal           category
Inns                category
Opposition    string[python]
StartDate     datetime64[ns]
dtype: object

In [99]:
CricketDF.head(10)

,MatchID,Runs,BallsFaced,Boundaries,Sixers,SR,Pos,Dismissal,Inns,Opposition,StartDate
0,1,0,2,0,0,0.00,5,caught,2,Pakistan,1989-12-18
1,2,0,2,0,0,0.00,5,caught,2,New Zealand,1990-03-01
2,3,36,39,5,0,92.30,6,caught,1,New Zealand,1990-03-06
3,4,19,35,1,1,54.28,4,bowled,2,England,1990-07-18
4,5,31,26,3,0,119.23,6,bowled,2,England,1990-07-20
5,6,36,22,3,2,163.63,5,bowled,1,Sri Lanka,1990-12-01
6,7,53,41,7,1,129.26,5,bowled,2,Sri Lanka,1990-12-05
7,8,30,29,1,2,103.44,5,caught,1,Sri Lanka,1990-12-08
8,9,0,0,0,0,0.00,NaN,NaN,2,Bangladesh,1990-12-25
9,10,4,11,0,0,36.36,5,lbw,2,Sri Lanka,1990-12-28

In [ ]:
import re
from datetime import datetime
from typing import List, Union, Optional

In [ ]:
def clean_spaces(text: str) -> str:
      return re.sub(' +', ' ', str(text).strip())

In [ ]:
def standardize_date(date_string: str) -> Optional[str]:
    date_formats = ["%Y-%m-%d", "%d-%m-%Y", "%m/%d/%Y", "%d/%m/%Y", "%B %d, %Y"]
    for fmt in date_formats:
        try:
            return datetime.strptime(date_string, fmt).strftime("%Y-%m-%d")
        except ValueError:
            pass
    # Return None if no format matches
    return None

In [43]:
def handle_missing(df: pd.DataFrame, numeric_strategy: str = 'mean', categorical_strategy: str = 'mode') -> pd.DataFrame:
   for column in df.columns:
        if df[column].dtype in ['int64', 'float64']:
            if numeric_strategy == 'mean':
                df[column].fillna(df[column].mean(), inplace=True)
            elif numeric_strategy == 'median':
                df[column].fillna(df[column].median(), inplace=True)
            elif numeric_strategy == 'mode':
                df[column].fillna(df[column].mode()[0], inplace=True)
        else:
            if categorical_strategy == 'mode':
                df[column].fillna(df[column].mode()[0], inplace=True)
            elif categorical_strategy == 'dummy':
                df[column].fillna('Unknown', inplace=True)
   return df

In [44]:
def remove_outliers_iqr(df: pd.DataFrame, columns: List[str], factor: float = 1.5) -> pd.DataFrame:
    mask = pd.Series(True, index=df.index)
    for col in columns:
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - factor * IQR
        upper_bound = Q3 + factor * IQR
        mask &= (df[col] >= lower_bound) & (df[col] <= upper_bound)

    cleaned_df = df[mask]

    return cleaned_df

In [45]:

def normalize_text(text: str) -> str:
    # Convert to lowercase
    text = str(text).lower()

    # Remove special characters
    text = re.sub(r'[^\w\s]', '', text)

    # Remove extra spaces
    text = re.sub(r'\s+', ' ', text).strip()

    return text